#shaw{
    display: flex;
    align-items: center;
}
#ensar{
display: flex;
align-items: center;
}
#onar{
    display: flex;
    align-items: center;
}
body{
    background-color:darkblue;
}
